<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liuchen.baseandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name=".fourconstitute.contentprovider.MyContentProvider"
            android:authorities="com.liuchen.baseandroid.fourconstitute.contentprovider.MyContentProvider" />

        <activity
            android:name=".fourconstitute.contentprovider.ContentProviderActivity"
            android:label="ContentProvider" />
        <activity
            android:name=".multithreading.handler.ThreadLocalActivity"
            android:label="ThreadLocal" />
        <activity
            android:name=".multithreading.thread.ThreadActivity"
            android:label="Thread" />
        <activity
            android:name=".multithreading.handler.HandlerActivity"
            android:label="Handler" />
        <activity
            android:name=".multithreading.MultiThreadingActivity"
            android:label="MultiThreading" />
        <activity
            android:name=".fourconstitute.activity.SkipActivity"
            android:label="SkipActivity" />
        <activity
            android:name=".fourconstitute.activity.ActivityActivity"
            android:label="Activity" />
        <activity
            android:name=".fourconstitute.FourConstituteActivity"
            android:label="四大组件" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>